<div id=page__ID>
	<div class="container-fluid" style='max-width:800px'>
		<div class="text-center">
		  <h1><a id=a1__ID>Please volunteer to take part in a research project, help us to help you and others</a></h1>
	  	  <hr style='border-top:1px solid #f05f40;'></hr>
          <button id=a2__ID class="btn btn-primary">Browse Research Studies</button>
		  <br>
		  <br><br>
		</div>
	</div>
</div>
<script>
	function F__ID(){
        //----------------------------------------
		$('#a1__ID').on('click',function(){
			$vm.nav_load_module('panel_main_projects');
		})
		//----------------------------------------
		$('#a2__ID').on('click',function(){
			$vm.nav_load_module('panel_main_projects');
		})
		//----------------------------------------
	}
</script>
<style>
	#D__ID{
		height:100%;
        overflow:auto;
		animation: vm_module_fadein 1.0s;
	}
	#page__ID{
        color:#fff;
		height:100%;
		display: flex;
		align-items: center;
	}
	#a1__ID{
		cursor:pointer;
	}
	#a1__ID:hover{
		color:red;
	}
	#a2__ID{
		cursor:pointer;
	}
</style>
