<div style='padding:10px'>
	Open source code: <a style='color:#000' target=_blank href=https://github.com/vmiis/template-list><u>https://github.com/vmiis/template-list</u></a>
</div>
<section id=panel__ID>
	<div class='nav__ID'>
	    <!--<span>Application templates and tutorial samples</span>-->
	    <ul>
            <li><a target=_blank href='https://vmiis.github.io/a-basic-application-framework/index.html'>A basic application framework</a></li>
            <li><a target=_blank href='https://vmiis.github.io/my-first-hello-world-module-in-an-application/index.html'>My first hello world module in an application</a></li>
            <li><a target=_blank href='https://vmiis.github.io/how-to-add-a-module-to-collect-contact-information/index.html'>How to add a module to collect contact information</a></li>
			<li><a target=_blank href='https://vmiis.github.io/bookkeeping/index.html'>Bookkeeping</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-001/index.html'>Bootstrap 4 and database function</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-005/index.html'>Car booking</a></li>
			<li><a target=_blank href='https://vmiis.github.io/clinical-trials-participant-visit-booking/index.html'>Clinical trials participant visit booking</a></li>
			<li><a target=_blank href='https://vmiis.github.io/document-collaboration-tracking/index.html'>Document collaboration tracking</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-008/index.html'>Enquiry</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-007/index.html'>Equipment booking</a></li>
            <li><a target=_blank href='https://vmiis.github.io/template-003/index.html'>Fitness</a></li>
			<li><a target=_blank href='https://vmiis.github.io/incident-reporting/index.html'>Incident reporting</a></li>
			<li><a target=_blank href='https://vmiis.github.io/invoice/index.html'>Invoice</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-004/index.html'>Medical practitioner</a></li>
            <li><a target=_blank href='https://vmiis.github.io/template-006/index.html'>Room booking</a></li>
			<li><a target=_blank href='https://vmiis.github.io/template-002/index.html'>Restaurant</a></li>
			<li><a target=_blank href='https://vmiis.github.io/sales-tracking/index.html'>Sales tracking</a></li>
			<li><a target=_blank href='https://vmiis.github.io/service-booking/index.html'>Service booking</a></li>
            <li><a target=_blank href='https://vmiis.github.io/template-009/index.html'>Survey</a></li>
			<li><a target=_blank href='https://vmiis.github.io/purchase-order-request/index.html'>Purchase order request</a></li>
			<li><a target=_blank href='https://vmiis.github.io/team-event-calendar/index.html'>Team event calendar</a></li>
			<li><a target=_blank href='https://vmiis.github.io/woolcock-app-template/index.html'>Woolcock app template</a></li>
            <li><a target=_blank href='https://vmiis.github.io/workplace-inspection/index.html'>Workplace inspection</a></li>
			<li><a target=_blank href='https://vmiis.github.io/woolworths-credit-card/index.html'>Woolworths credit card</a></li>
            <li><a target=_blank href='https://wappsystem.github.io/wapp-invoice/index.html'>Online invoice</a></li>
		</ul>
    </div>
    <div class='nav__ID'>
		<!--<span>Open source applications on GitHub</span>-->
		<ul>
			<li><a target=_blank href='https://woolcock-imr.github.io/amazes/index.html?database=development'>Amazes (Archived clinical trials data)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/cpaphdeeg-2-online-questionnaire/index.html?database=development'>CPAPHDEEG online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/cpaphdeeg-2/index.html?database=development'>CPAPHDEEG project management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/hdeeg-mci-2-online-questionnaire/index.html?database=development'>HDEEG-MCI online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/hdeeg-mci-2/index.html?database=development'>HDEEG-MCI project management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/volunteer-database-2/index.html?database=development'>Medical research volunteer registration</a></li>
			<li><a target=_blank href='https://woolcock-imr.github.io/volunteer-database-management-2/index.html?database=development'>Medical research volunteer management</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/nightstudy-online-questionnaire/index.html?database=development'>Nightstudy online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/nightstudy/index.html?database=development'>Nightstudy project management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/sfix-registration/index.html?database=development'>SFIX registration (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/sfix-registration-management/index.html?database=development'>SFIX registration management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/sfix-online-questionnaire/index.html?database=development'>SFIX online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/sfix/index.html?database=development'>SFIX project management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/windfarm-recruitment-management/index.html?database=development'>Windfarm lab study registration management</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/windfarm-lab-study-screening-online-questionnaire/index.html?database=development)'>Windfarm lab study screening online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/windfarm-screening-questionnaire/index.html?database=development'>Windfarm lab study screening management (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/windfarm-lab-study-online-questionnaire/index.html?database=development'>Windfarm lab study online questionnaire (clinical trials)</a></li>
            <li><a target=_blank href='https://woolcock-imr.github.io/windfarm-inlab/index.html?database=development'>Windfarm lab study management (clinical trials)</a></li>
		</ul>
	</div>
</section>

<script>
      function F__ID(){
		  if(window.location.hostname=='127.0.0.1' || window.location.hostname=='localhost'){
			  $('#panel__ID a').each(function(){
				  var href=$(this).href;
				  if(href!=undefined){
					  href=href.replace('https://vmiis.github.io/','http://127.0.0.1:8000/vmiis/applications/');
				  }
			  })
		  }
      }
</script>

<style>
	VmInclude:__COMPONENT__/navigation/navigation.css
	#D__ID{
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.3));
        overflow: auto;
		animation: vm_module_fadein 1.0s;
	}
    #info__ID{
        font-size: 9px;
        padding:5px 10px 0 10px;
        color:#222;
    }
	#D__ID li {
		color:#000;
	}
	li::before{
		font-size: 20px!Important;
	}
	#D__ID li:hover {
		color:#fff;
	}
	#D__ID a {
		text-decoration: none;
	}
	#D__ID a:link {
		color:#000;
	}
	#D__ID a:visited {
		color:#000;
	}
	#D__ID a:hover {
		color:#fff;
	}
	#D__ID a:active {
		color:#000;
	}
</style>
