<div header id=header__ID>
    <nav id=nav__ID class="navbar navbar-expand-xl navbar-dark">
		<div id=brand__ID>
	        <a class="navbar-brand d-none d-xl-block" onclick="$vm.nav_load_module('no_panel_home');">
	            <div class=large_logo__ID>
	                <div class=large_logo_large_label__ID>
	                    Business Portal
	                </div>
	                <div class=large_logo_small_label__ID>
	                    on-demand business applications
	                </div>
	            </div>
	        </a>
	        <a class="navbar-brand d-xl-none" onclick="$vm.nav_load_module('no_panel_home');">
	            <div class=small_logo__ID>Business Portal</div>
	        </a>
		</div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbars__ID" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('no_panel_home');"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('no_panel_survey');"><i class="fa fa-th"></i> Survey</a></li>
            </ul>
            <form id=form__ID class="form-inline my-2 my-xl-0 mr-auto">
				<input id=vm_system_search class="form-control mr-sm-2" type="text" placeholder="Search modules..." aria-label="Search modules..." />
			</form>
			<ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrator</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('no_panel_survey_record');">Survey records</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
    </script>
    <style>
        #header__ID{
            background: rgba(0,0,0,0.5);
        }
        #header__ID a{
            cursor:pointer;
        }
        #nav__ID{
			padding:0;
            z-index:99;
        }
        #navbars__ID{
	        padding-top:30px;
        }
        .large_logo__ID{
            color:#fff;
            padding:10px 0px 10px 30px;
        }
        .large_logo_large_label__ID{
            font-size:140%;
        }
        .large_logo_small_label__ID{
            font-size:64%;
        }
        #navbars__ID{
            padding-left:50px;
        }
        #form__ID{
            padding-left:80px;
        }
		@media screen and (max-width:1200px){
			#nav__ID{
	            z-index:99;
	        }
            #form__ID{
		        padding-left:0px;
	        }
			#nav__ID{
                padding: 3px 15px;
			}
            #navbars__ID{
    	        padding-top:0px;
                padding-left:10px;
				background-color:#445a26;
            }
            .small_logo__ID{
                color:#fff;
                font-size: 140%;
            }
		}
		/****************************/
		#navbars__ID a:focus {
			outline: none;
		}
		#navbars__ID .navbar-brand {
			font-size: 1.1rem;
			color: white;
		}
		#navbars__ID .navbar-brand.active,
		#navbars__ID .navbar-brand:active,
		#navbars__ID .navbar-brand:focus,
		#navbars__ID .navbar-brand:hover {
			color: white;
		}
		#navbars__ID .navbar-nav {
			letter-spacing: 1px;
		}
		#navbars__ID .navbar-nav li.nav-item a.nav-link {
			color: white;
		}
		#navbars__ID .navbar-nav li.nav-item a.nav-link:hover {
			color: #18BC9C;
			outline: none;
		}
		#navbars__ID .navbar-nav li.nav-item a.nav-link:active,
		#navbars__ID .navbar-nav li.nav-item a.nav-link:focus {
			color: white;
		}
		#navbars__ID .navbar-toggler {
			font-size: 14px;
			padding: 11px;
			text-transform: uppercase;
			color: white;
			border-color: white;
		}
		#navbars__ID .navbar-toggler:focus,
		#navbars__ID .navbar-toggler:hover {
			color: white;
			border-color: #18BC9C;
			background-color: #18BC9C;
		}
		@media (min-width: 992px) {
			#navbars__ID {
				-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
				-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
				transition: padding-top 0.3s, padding-bottom 0.3s;
			}
			#navbars__ID .navbar-brand {
				font-size: 2em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}
			#navbars__ID .navbar-nav > li.nav-item > a.nav-link.active {
				color: white;
				border-radius: 3px;
				background: #18BC9C;
			}
			#navbars__ID .navbar-nav > li.nav-item > a.nav-link.active:active,
			#navbars__ID .navbar-nav > li.nav-item > a.nav-link.active:focus,
			#navbars__ID .navbar-nav > li.nav-item > a.nav-link.active:hover {
				color: white;
				background: #18BC9C;
		  	}
		}
		/*********************************/
    </style>
</div>
