<div id=page__ID>
	<div class="container-fluid" style='max-width:800px'>
		<div class="text-center">
		  <h1>Clinic Online Questionnaire</h1>
	  	  <hr style='border-top:1px solid #f05f40;'></hr>
          <button id=a1__ID class="btn btn-primary">START</button>
		  <br>
		  <br><br>
		</div>
	</div>
</div>
<script>
	function F__ID(){
        //----------------------------------------
		$('#a1__ID').on('click',function(){
			$vm.nav_load_module('panel_main_login');
		})
		//----------------------------------------
	}
</script>
<style>
	#D__ID{
		height:100%;
        overflow:auto;
		animation: vm_module_fadein 1.0s;
	}
	#page__ID{
        color:#fff;
		height:100%;
		display: flex;
		align-items: center;
	}
</style>
