<div id=services__ID>
	<section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Services</h1>
                    <p>The best medical services based on experience.</p>
                </div>
            </div>
        </div>
	</section>
	<section class="page-body">
        <div class="container">
            <div class="row">
				<div class="col-sm col-md-4">
					<img src="__CURRENT_URL__.01.jpg" class=img-fluid alt="">
					<h4>Proin dictum elementum velit</h4>
					<p>Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices vestibulum erat tortor venenatis risus, sit amet cursus dui augue a arcu. Quisque mauris risus, gravida a molestie eu.</p>
					<button type="button" class="btn btn-info">Read more</button>
				</div>
				<div class="col-sm col-md-4">
					<img src="__CURRENT_URL__.02.jpg" class=img-fluid alt="">
					<h4>Vestibulum iaculis lacinia est</h4>
					<p>Quisque mauris risus, gravida a molestie eu, dictum ac augue. Integer sodales tempor lectus; sit amet dictum metus pharetra nec. Fusce bibendum dapibus pretium. Nunc eu sem vitae lacus laoreet elementum. Nulla facilisi.</p>
					<button type="button" class="btn btn-info">Read more</button>
				</div>
				<div class="col-sm col-md-4">
					<img src="__CURRENT_URL__.03.jpg" class=img-fluid alt="">
					<h4>Consectetuer adipiscing elit</h4>
					<p>Integer sodales tempor lectus; sit amet dictum metus pharetra nec. Fusce bibendum dapibus pretium. Nunc eu sem vitae lacus laoreet elementum. Nulla facilisi. Phasellus ullamcorper elementum est, id pretium turpis.</p>
					<button type="button" class="btn btn-info">Read more</button>
				</div>
            </div>
        </div>
	</section>
</div>
<style>
	#services__ID .page-heading {
		padding: 40px 0px;
		background: rgba(0,0,0,0.3);
		text-align: center;
	}
	#services__ID .page-heading h1 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-family: 'Spectral', serif;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
	}
	#services__ID .page-heading p {
		color: #fff;
		font-size: 16px;
		padding: 0px 25%;
		margin-bottom: 0px;
	}
	#services__ID .page-body {
		padding: 40px 0px;
		background: rgba(255,255,255,0.9);
		text-align: center;
	}
	#services__ID .page-body h4, #services__ID .page-body p{
		text-align: left;
		color:#333;
	}
	#services__ID .page-body img{
		margin-bottom:10px;
	}
	#services__ID .page-body button{
		margin-bottom:30px;
	}
</style>
