<div footer id=footer__ID>
	<span id=text__ID></span>
	<span id=vm_system_info style='color:#555;float:right'></span>
	<script>
		$vm.root_layout_footer='footer__ID';
		//-----------------------------------------------------
        $('#text__ID').html("Copyright © "+(new Date()).getFullYear()+", Your company name. Site Code on GitHub (github.com/vmiis). Pull Requests welcome!");
		//------------------------------------
	</script>
	<style>
		#footer__ID{
			color: #fff;
			padding: 3px;
    		background-color: #333;
			font:80%/18px arial;
            text-align: center;
		}
	</style>
</div>
