<div id=image-003__ID>
    <section class="section-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Image with title and subtitle on hover</h2>
                    <p>Modular distributed web application</p>
                </div>
            </div>
        </div>
	</section>
    <div class="container"><div class="row">
        <figure class="col-sm-12 col-md-6 col-lg-3 snip1577">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample99.jpg" alt="sample99" />
            <figcaption>
              <h3>Bodrum Salvador</h3>
              <h4>Luxery</h4>
            </figcaption>
            <a href="?/more"></a>
        </figure>
        <figure class="col-sm-12 col-md-6 col-lg-3 snip1577">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample109.jpg" alt="sample109" />
            <figcaption>
              <h3>Jason Response</h3>
              <h4>Classic</h4>
            </figcaption>
        </figure>
        <figure class="col-sm-12 col-md-6 col-lg-3 snip1577">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample117.jpg" alt="sample117" />
            <figcaption>
              <h3>Piff Jenkins</h3>
              <h4>Vintage</h4>
            </figcaption>
            <a href="?/more"></a>
        </figure>
        <figure class="col-sm-12 col-md-6 col-lg-3 snip1577">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample109.jpg" alt="sample109" />
            <figcaption>
              <h3>Jason Response</h3>
              <h4>Classic</h4>
            </figcaption>
            <a href="?/more"></a>
        </figure>
    </div></div>
</div>
<script>
    $('#image-003__ID a').on('click',function(e){
        e.preventDefault();
        var href=$(this).attr('href');
        if(href!=undefined && href!=''){
            href=href.replace('?\/','');
            href=href.replace(/\//g,'_');
            $vm.load_module_v2(href,$vm.root_layout_content_slot,{});
        }
    })
</script>
<style>
    #image-003__ID{
        background-color: #eee;
        padding-bottom:60px;
    }
    #image-003__ID .section-heading {
        padding: 40px 0px;
        text-align: center;
    }
    @import url(https://fonts.googleapis.com/css?family=Montserrat:200);
    .snip1577 {
      font-family: 'Montserrat', Arial, sans-serif;
      overflow: hidden;
      padding: 0px;
      width: 100%;
      color: #fff;
      text-align: left;
      font-size: 16px;
      background: #000;
    }

    .snip1577 *,
    .snip1577:before,
    .snip1577:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    .snip1577 img {
      max-width: 100%;
      backface-visibility: hidden;
      vertical-align: top;
    }

    .snip1577:before,
    .snip1577:after {
      position: absolute;
      top: 20px;
      right: 20px;
      content: '';
      background-color: #fff;
      z-index: 1;
      opacity: 0;
    }

    .snip1577:before {
      width: 0;
      height: 1px;
    }

    .snip1577:after {
      height: 0;
      width: 1px;
    }

    .snip1577 figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px 20px;
    }

    .snip1577 h3,
    .snip1577 h4 {
      margin: 0;
      font-size: 1.1em;
      font-weight: normal;
      opacity: 0;
    }

    .snip1577 h4 {
      font-size: .8em;
      text-transform: uppercase;
    }

    .snip1577 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .snip1577:hover img,
    .snip1577.hover img {
      zoom: 1;
      filter: alpha(opacity=20);
      -webkit-opacity: 0.2;
      opacity: 0.2;
    }

    .snip1577:hover:before,
    .snip1577.hover:before,
    .snip1577:hover:after,
    .snip1577.hover:after {
      opacity: 1;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }

    .snip1577:hover:before,
    .snip1577.hover:before {
      width: 40px;
    }

    .snip1577:hover:after,
    .snip1577.hover:after {
      height: 40px;
    }

    .snip1577:hover h3,
    .snip1577.hover h3,
    .snip1577:hover h4,
    .snip1577.hover h4 {
      opacity: 1;
    }

    .snip1577:hover h3,
    .snip1577.hover h3 {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }

    .snip1577:hover h4,
    .snip1577.hover h4 {
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
</style>
