<style third-party>
    #D__ID .formbox h3 {
        font-family: RobotoSlab-Regular;
        font-size: 24px;
        color: #FCFBF5;
        letter-spacing: 0;
        display: block;
        background-color: #45496A;
        padding: 15px;
        border-radius: 3px 3px 0 0;
        margin-top: -5px
    }
    /* TOP OF FORM MARGIN */
    #D__ID .mt-95 {
        margin-top: 15px !important
    }
    #D__ID .form-group {
        display: block !important;
        border-bottom: 1px solid #E5EEF0 !important
    }
    #D__ID .form-group h4 {
        font-family: RobotoSlab-Regular;
        font-size: 18px;
        color: #45496A;
        letter-spacing: 0;
        line-height: 28px;
    }
    #D__ID label {
        font-family: Nunito-Bold;
        font-size: 14px;
        color: #444645;
        line-height: 21px;
    }

    #D__ID input[type="radio"] {
        margin-right: 5px !important
    }
    #D__ID .formbox {
        background-color: white;
        padding: 0px !important;
        border-radius: 3px 3px 3px 3px !important
    }
    #D__ID .form-group {
        padding: 5px 15px !important;
        margin-bottom: 0px !important
    }
    #D__ID .form-group:hover {
        background-color: #FCFBF5
    }
    /* SUBMIT BUTTON */
    #D__ID .btn-primary, #D__ID .btn-primary:active, #D__ID .btn-primary:visited, #D__ID .btn-primary:focus {
        background-color: #45496A;
        border-color: #45496A;
        font-family: Nunito-Light;
        font-size: 12px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-align: center;
        line-height: 18px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 16px 35px;
        margin: 15px;
    }
    #D__ID .btn-primary:hover {
        background-color: #35395D;
        border-color: #35395D;
        font-family: Nunito-Light;
        font-size: 12px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-align: center;
        line-height: 18px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 16px 35px;
        margin: 15px;
    }
    #D__ID .btn-outline-light {
        font-family: Nunito-Light;
        font-size: 12px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-align: center;
        line-height: 18px;
        text-transform: uppercase;
        border-radius: 15px;
        border-width: 2px;
        padding-left: 25px;
        padding-right: 25px
    }
    #D__ID .btn-outline-light:hover {
        color: #23807F;
    }
    #D__ID p.note {
        font-family: Nunito-Light;
        font-size: 14px;
        color: #939597;
        margin-left: 15px;
    }
    /* RADIO BUTTONS */
    #D__ID .radiobuttons {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #D__ID .radiobuttons input {
        position: absolute !important;
        opacity: 0 !important;
        cursor: pointer;
    }
    #D__ID .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #A2D5CB;
        border-radius: 50%;
    }
    #D__ID .radiobuttons:hover input ~ .checkmark {
        background-color: #23807F;
    }
    #D__ID .radiobuttons input:checked ~ .checkmark {
        background-color: #23807F;
    }
    #D__ID .checkmark:after {
        content: "";
        position: absolute !important;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    #D__ID .radiobuttons input:checked ~ .checkmark:after {
        display: block !important;
    }
    /* Style the indicator (dot/circle) */
    #D__ID .container .checkmark:after {
        top: 7px;
        left: 7px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white !important;
    }
    /* CHECK BOX */
    #D__ID .checkboxes {
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding-left: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #D__ID .checkboxes input {
      position: absolute !important;
      opacity: 0 !important;
      cursor: pointer;
    }
    #D__ID .check_checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 22px;
      width: 22px;
      background-color: #A2D5CB;
      border-radius: 0%;
    }
    #D__ID .checkboxes:hover input ~ .check_checkmark {
      background-color: #23807F;
    }
    #D__ID .checkboxes input:checked ~ .check_checkmark {
      background-color: #23807F;
    }
    #D__ID .check_checkmark:after {
      content: "";
      position: absolute !important;
      display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    #D__ID .checkboxes input:checked ~ .check_checkmark:after {
      display: block !important;
    }
    /* Style the indicator (dot/circle) */
    #D__ID .container .check_checkmark:after {
      top: 0px;
      left: 6px;
      color:white;
      content:"✔";
    }
    #D__ID .form-group input[type=text] {
        font-family: Nunito-Regular;
        font-size: 16px;
        color: #6D6F72;
    }
    #D__ID .form-group input[type=tel] {
      font-family: Nunito-Regular;
      font-size: 16px;
      color: #6D6F72;
    }
    #D__ID .form-group input[type=email] {
      font-family: Nunito-Regular;
      font-size: 16px;
      color: #6D6F72;
    }
    #D__ID .form-group input[type=number] {
      font-family: Nunito-Regular;
      font-size: 16px;
      color: #6D6F72;
    }
    #D__ID .form-group select {
      font-family: Nunito-Regular;
      font-size: 16px;
      color: #6D6F72;
    }
    #D__ID fieldset.subquestions legend {
        font-family: Nunito-Regular;
        font-size: 16px;
        color: #45496A;
        line-height: 21px;
        padding-top: 20px;
    }
    #D__ID .form-group .questiongroup {
        margin-left: 15px;
    }
    #D__ID .form-group .questiongroup label.radiobuttons {
        margin-right: 10px;
    }
    @media (min-width: 600px) {
    #D__ID  fieldset.subquestions br { display: none; }
    }

</style>
