<div footer id=footer__ID class="fixed-bottom text-center">
	<span id=text__ID></span>
	<span id=vm_system_info style='color:rgba(255,255,255,0.2);float:right'></span>
	<script>
		$vm.root_layout_footer='footer__ID';
		//-----------------------------------------------------
		$('#text__ID').html("Copyright © "+(new Date()).getFullYear()+", Woolcock Institute of Medical Research");
		//------------------------------------
	</script>
	<style>
		#footer__ID{
			color: #fff;
			padding: 3px;
    		background-color: #333;
			font:90%/20px arial;
		}
		@media screen and (max-width:768px){
			#footer__ID{
				font:75%/18px arial;
			}
		}
	</style>
</div>
