<div header id=header__ID>
</div>
<script>
</script>
<style>
	#header__ID{
		background: rgba(100,100,100,0.2);
	}
	#nav__ID{
		z-index:99;
		padding:0;
	}
	.large_logo__ID{
		color:#fff;
		padding-left:90px;
		display:table;
	}
	.small_logo__ID{
		color:#fff;
		font-size: 150%;
	}
	#navbars__ID{
		padding:15px 0 0 50px;
	}
	#navbars__ID a{
		color:#000;
		cursor:pointer;
	}
	#navbars__ID a:hover{
		color:red;
	}
	@media screen and (max-width:768px){
		#nav__ID{
			padding:0 10px;
			background-color:#555;
		}
		#header__ID a{
			color:#000;
			cursor:pointer;
		}
		#header__ID a:hover{
			color:red;
			cursor:pointer;
		}
		#navbars__ID{
			padding-top:5px;
			padding-left:5px;
		}
		#navbars__ID a{
			color:#fff;
		}
		#form__ID{
			padding-right:0px;
		}
	}
</style>
