<div header id=header__ID>
    <nav id=nav__ID class="navbar navbar-expand-md navbar-dark">
        <div id=brand__ID>
            <a class="navbar-brand d-none d-lg-inline-block" onclick="$vm.nav_load_module('panel_main_home');">
            	<div class=large_logo__ID>
					<img width=360 src='__CURRENT_PATH__/main.html.header.html.logo.gif' style='margin-top:10px;margin-bottom:10px'></img>
    	        </div>
            </a>
            <a class="navbar-brand d-lg-none" onclick="$vm.nav_load_module('panel_main_home');">
                <div class=small_logo__ID>Woolcock</div>
            </a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbars__ID" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('website_home');"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('sfix');">SFIX</a></li>
                <li><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
			<!--
			<form id=form__ID class="form-inline my-2 my-xl-0">
				<input id=vm_system_search class="form-control mr-sm-2" type="text" placeholder="Search modules..." aria-label="Search modules..." />
			</form>
		-->
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
		if(window.innerWidth <= 800 && window.innerHeight <= 600) {
			$('#form__ID').parent().prepend($('#form__ID'));
		}
		//---------------------------------------------
		$(".navbar-nav").hide();
		var navbars_loop=setInterval(function (){
			if($vm.js_popper==1){
				clearInterval(navbars_loop);
				$(".navbar-nav").show();
                console.log((new Date().getTime()-$vm.start_time).toString()+"---"+"********************** menu is ready ************************");
			}
		},100);
		//------------------------------------
    </script>
    <style>
        #header__ID{
			background: rgba(100,100,100,0.2);
        }
		#nav__ID{
	        z-index:99;
			padding:0;
        }
		.large_logo__ID{
            color:#fff;
            padding-left:90px;
            display:table;
        }
		/*
		.logo_image__ID{
			width:500px;
			height:95px;
			background: url('images/logo.gif') no-repeat;
			background-size: cover;
		}
		*/
        .small_logo__ID{
            color:#fff;
			font-size: 150%;
        }
		#navbars__ID{
	        padding:55px 0 0 50px;
        }
		#navbars__ID a{
			color:#000;
            cursor:pointer;
        }
		#navbars__ID a:hover{
			color:red;
        }
		@media screen and (max-width:768px){
			#nav__ID{
	        	padding:0 10px;
				background-color:#555;
			}
			#header__ID a{
				color:#000;
	            cursor:pointer;
	        }
			#header__ID a:hover{
				color:red;
	            cursor:pointer;
	        }
	        #navbars__ID{
		        padding-top:5px;
		        padding-left:5px;
	        }
			#navbars__ID a{
				color:#fff;
	        }
	        #form__ID{
		        padding-right:0px;
	        }
		}
    </style>
</div>
